.project-container {
  display: flex;
  gap: 2.5%;
  justify-content: space-between;
  width: 100%;
  height: 30vh
}

.text-project-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 70%
}

.project-container img {
  width: 30%;
  height: auto
}

header {
  display: flex;
  gap: 2.5%;
  justify-content: space-between;
  width: 100%;
  height: 20vh
}

.profile-img-container {
  overflow: hidden;
  border-radius: 50%;
  height: 20vh;
  width: 20vh
}

header div img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%
}

.profile-text-container h1 {
  margin: 0
}

.profile-text-container span {
  display: flex;
  width: 100%;
  justify-content: right
}

.techbox-container {
  width: 31vh;
  display: flex;
  align-items: center;
  flex-direction: column
}

.techbox-container div {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr));
  margin: 0;
  padding: 0;
  gap: 1vh
}

.logo-container {
  cursor: pointer
}

.logo-container:hover {
  transform: scale(1.03)
}

.logo-container:hover .logo-img-container {
  box-shadow: 1px 1px 10px #0003
}

.logo-container span {
  flex-direction: column;
  text-align: center
}

.logo-img-container {
  overflow: hidden;
  border-radius: 50%;
  height: 15vh;
  width: 15vh
}

.logo-img-container img {
  padding-left: 10%;
  padding-top: 10%;
  width: 90%;
  height: 90%;
  object-fit: cover
}

.App {
  display: flex;
  justify-content: space-between
}

main {
  width: 85%;
  height: 100vh
}

.projects-container {
  height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2vh
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}